
.home-container-1{
    min-height: 100vh;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0% auto;
    margin-top: 20px;



}
 .home-container-2{
    max-width: 700px;
    width:calc(100%-164px);
    margin-top: 20px;
    padding: 24px;
    box-sizing: border-box;
 
} 
.home-left
{
    display: flex;
    justify-content: left;
    margin: 0% auto;
    width:100%;
    
}